* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(95, 102, 102);
}

.banner {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}

.merchan {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}

.form {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}
.conteudo {
  background-color: rgb(5, 5, 5);
  color: white;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}

input {
  margin-left: 40%;
}

.resultado {
  margin-top: 1%;
}
h1,
h2 {
  margin-left: 40%;
}
